.hero.event-hero {
  background-image: url(/img/events-img.jpeg);
}

.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.event-container {
  background-color: var(--color-beige);
  border: 1px solid var(--color-orange);
  padding: 20px;
  border-radius: 4px;
}

.event-date {
  list-style: none;
  color: var(--color-blue);
  padding-top: 5px;
  text-align: right;
}

/* MEDIA QUERIES */

@media (min-width: 425px) {
  .event-container {
    padding: 40px;
  }
}

@media (min-width: 900px) {
  .event-hero-img {
    display: block;
  }
  .events .event-container {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .events .event-container {
    width: 30%;
  }
}

@media (min-width: 1400px) {
  .events .event-container {
    width: 25%;
  }
}
