/* STYLES IMPORTS */
@import url(/css/exhibitions.css);
@import url(/css/events.css);
@import url(/css/visit.css);

/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url(/fonts/poppins/Poppins-Medium.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/poppins/Poppins-Light.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url(/fonts/avenir_ff/AvenirLTStd-Black.otf);
  font-style: normal;
}
@font-face {
  font-family: "Silom";
  src: url(/fonts/Silom.ttf);
  font-style: normal;
}

/* VARIABLES */
:root {
  --color-white: #fff;
  --color-beige: #f7f7f7;
  --color-black: #000;
  --color-blue: #1b455d;
  --color-yellow: #e4dd50;
  --color-orange: #ff8c1a;
  --font-poppins: "Poppins", sans-serif;
  --font-avenir: "Avenir", sans-serif;
  --font-silom: "Silom", sans-serif;
  --border-yellow: 2px solid var(--color-yellow);
}

/* Universal CSS props */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  font-family: var(--font-avenir);
  color: var(--color-blue);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

body {
  font-family: var(--font-poppins);
  font-weight: 600;
}

p {
  font-weight: 400;
}

.icon {
  width: 50px;
}

.social-icon {
  width: 30px;
  margin: 20px;
}

.btn {
  display: block;
  background-color: var(--color-blue);
  color: var(--color-white);
  text-decoration: none;
  padding: 5px 25px;
  font-family: var(--font-poppins);
  text-transform: uppercase;
  font-size: 15px;
}

.btn:hover {
  color: var(--color-black);
  background-color: var(--color-orange);
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.contact {
  font-weight: 900;
}

.hero.volunteer-hero {
  background-image: url(/img/volunteer.jpeg);
}
/* Navigation */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color-white);
  padding: 12px 20px;
}

.nav-icon {
  color: var(--color-blue);
}

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-blue);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-blue);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  color: var(--color-black);
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

/* Hero Section */

.hero {
  color: var(--color-white);
  height: 200px;
  background-image: url(/img/hero-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 90%;
}

.hero h1 {
  font-family: var(--font-silom);
  padding-top: 30px;
  margin: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

/* Main Section */

main {
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 20px auto 60px;
}

.container h3 {
  margin: 20px 0 10px;
}

.container-img {
  width: 100%;
}

.container p {
  text-align: justify;
  font-size: 14px;
  border-top: 2px solid var(--color-yellow);
  padding-top: 10px;
  margin-bottom: 20px;
}

/* Footer */

.museum-img {
  width: 100%;
}

footer {
  border-top: var(--border-yellow);
  width: 70%;
  margin: 30px auto 10px;
  text-align: center;
}

footer p {
  font-size: 12px;
  text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 550px) {
  .hero {
    background-image: url(/img/hero.jpg);
  }
}
@media (max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
    padding-top: 30px;
  }
  .menu li {
    margin-top: 10px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }
}

@media (min-width: 620px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .container {
    width: 45%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .container p {
    flex: 1 1 auto;
  }
}

@media (min-width: 900px) {
  .hero {
    height: 250px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .container {
    width: 30%;
  }

  .museum-img {
    width: 100%;
    height: 500px;
  }

  footer {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 350px;
  }

  .hero h1 {
    font-size: 60px;
  }
}
